@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }

    WebSecurity.RequireAuthenticatedUser();

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Edit";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Change the time or cancel an event.</h2>
</hgroup>

<h2>1. Find Event to Edit</h2>

<div id="allEvents"><i>loading...</i></div>

<div id="deleteDiv">
    <h2>2. Delete Event</h2>
    <button id="deleteButton">Remove selected event</button>
</div>

<div id="changeDiv">
    <h2>3. Change Event</h2>
    <form id="change">
        <fieldset>
            <legend>Change a Program</legend>
            <ol>
                <li class="name">
                    <label for="name">Program Name</label>
                    <input type="text" id="name" name="name" />
                </li>
                <li class="Description">
                    <label for="description">Program Description</label>
                    <textarea id="description" name="description" form="create"> </textarea>
                </li>
                <li class="type">
                    <label for="type">Program Type</label>
                    <select id="type" name="description" form="create">
                        <option value="t1">Type 1</option>
                        <option value="t2">Type 2</option>
                        <option value="t3">Type 3</option>
                    </select>
                </li>
                <li class="start-time">
                    <label for="start-time">Start Time</label>
                    <input type="time" id="start-time" name="start-time" />
                </li>
                <li class="end-time">
                    <label for="end-time">End Time</label>
                    <input type="time" id="end-time" name="end-time" />
                </li>
                <li class="date">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" />
                </li>
                <li class="select-days">
                    <h3>(Optional) Select Recurring Days</h3>
                    <label for="monday">Monday</label>
                    <input type="checkbox" id="monday" name="monday" value="false" />
                    <label for="tuesday">Tuesday</label>
                    <input type="checkbox" id="tuesday" name="tuesday" value="false" />
                    <label for="wednesday">Wednesday</label>
                    <input type="checkbox" id="wednesday" name="wednesday" value="false" />
                    <label for="thursday">Thursday</label>
                    <input type="checkbox" id="thursday" name="thursday" value="false" />
                    <label for="friday">Friday</label>
                    <input type="checkbox" id="friday" name="friday" value="false" />
                    <label for="saturday">Saturday</label>
                    <input type="checkbox" id="saturday" name="saturday" value="false" />
                    <label for="sunday">Sunday</label>
                    <input type="checkbox" id="sunday" name="sunday" value="false" />
                </li>
            </ol>
            <input type="submit" value="Change selected event" />
        </fieldset>
    </form>
</div>

