@{
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
    }

    WebSecurity.RequireAuthenticatedUser();
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
        <p>
            This is the administration portal for the Hunger Intervention Program.
        </p>
    </div>
</section>
}

<h3>In this portal, you can do the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Create</h5>
        <a href="~/Programs/Create">Add a new program to the database.</a>
    </li>

    <li class="two">
        <h5>Edit</h5>
        <a href="~/Programs/Edit">Change the time or cancel an event.</a>
    </li>

    <li class="three">
        <h5>Export</h5>
        <a href="~/Export">Download timecard data in CSV format.</a>
    </li>
</ol>